* {
    margin: 0;
    padding: 0;
}

.bg-image{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/41c789f0-7df5-4219-94c6-c66fe500590a/3149e5eb-4660-4e3d-9e65-b1e615229c64/IN-en-20240513-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    /* filter:blur(2px); */
}

.container img {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    width: 150px;
    height: 150px;
}
.row{
    padding:120px;
    /* padding-left: 20px;
    padding-top: 150px;
    padding-bottom: 200px; */
}

.row .services h1{
    font-size: 50px;
}
.services{
    float: left;
}
.image-demo img{
    width: 450px;
    height: auto;
}
.image-demo{
    float: left;
}
.video video{
    width: 450px;
    margin-left: 200px;
}

